* {
    font-family: Georgia;
}

.top_line {
    
width: 100%;
height: 1rem;
background: #76c38f;    
}

.Big_Block1 {
color: white;
width: 100%;
height: 102.5rem;
background: #290000;

}

.TheModernist {
    background: #290000;
    padding-left: 20%;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 5rem;
    height: 10rem;
} 

.Free_PSD {
    font-size: 2.3rem;
}

.botton1 {
background: #290000;
font-size: 2rem;
width: 100%;
height: 5rem;
}

.botton2 {
    background: #290000;
    font-size: 2rem;
    width: 100%;
    height: 5rem;
    }

.botton_HOME {
float: left;
text-align: center;
padding-top: 0.6rem;
padding-bottom: 0.3rem;
border-radius: 5rem;
width: 10rem;
height: 2.5rem;
background: #76c38f;
margin-top: 0.4rem;
margin-left: 7rem;
}

.botton_STYLE {
float: left;
margin-left: 3rem;
margin-top: 1rem;
}

.botton_FULL {
    float: left;
    margin-left: 3rem;
    margin-top: 1rem;
}

.botton_DROP {
    margin-left: 9rem;
    float: left;
    margin-top: 1rem;
}

.botton_PORT{
    float: left;
    margin-left: 3rem;
    margin-top: 1rem;
}


.botton_GALL {
    float: left;
    margin-left: 3rem;
    margin-top: 1rem;
}

.left_krug {
    
    padding-left: 11rem;
    padding-right: 13rem;
    height: 50rem;

}

.Cursus {
    margin-top: 4rem;
    font-size: 4rem;
}

.Nullamlacus {
    margin-top: 2.1rem;
    width: 40rem;
    font-size: 2.5rem;
    padding-right: 5rem;
}

.ReadMoreHere {
    margin-top: 2.8rem;
    font-size: 2rem;
height: 3.3rem;
width: 20rem;
background: #76c38f;
text-align: center;
padding-top: 1rem;
border-radius: 2rem;
}

.circle380 {
    margin-top: 5rem;
    margin-left: calc(50% - 190px);
background: #333333;
width: 380px;
height: 380px;
border: 26px solid #6b6b6b;
border-radius: 50%;
}

.text380 {
text-align: center;
width: 16rem;
font-size: 2.5rem;
position: relative;
top: calc(50% - 1.25rem);
left: calc(50% - 8rem);
}

.left-botton1 {
    margin-left: 4rem;
color: #76c38f;
position: relative;
font-size: 9rem;
float: left;
top: -22rem;
}

.right_botton1 {
    margin-right: 4rem;
color: #76c38f;
position: relative;
font-size: 9rem;
float: right;
top: -22rem;
}

.Big_Block2 {
background: #660000;
color: white;
width: 100%;
height: 460rem;
}

.box_white1 {
background: white;
width: 35rem;
height: 45rem;
margin-left: calc(50% - 18rem);
margin-top: 10rem;
float: left;
}

.box_white2 {
    background: #76c38f;
 
    width: 35rem;
    height: 45rem;
    margin-left: calc(50% - 18rem);
    margin-top: 10rem;
    float: left;
    }

.div120px1 {
background: #333333;
width: 18rem;
height: 18rem;
position: relative;
left: calc(50% - 9rem);
margin-top: 3rem;
}

.px120textdiv1 {
width: 15rem;
height: 4rem;
font-size: 3rem;
margin-left: calc(50% - 7.5rem);
position: absolute;
top: calc(50% - 2rem);

}

.ServiceTitle {
color: #333333;
font-size: 4.5rem;
margin-top: 1rem;
text-align: center;
}

.Vestassapede {
color: #979797;
font-size: 2.2rem;
text-align: center;
margin-top: 1.6rem;
margin-left: 3rem;
margin-right: 3rem;
}

.div120px1_1 {
    background: white;
    width: 18rem;
    height: 18rem;
    position: relative;
    left: calc(50% - 9rem);
    margin-top: 3rem;
    }
.px120textdiv1_1 {
    color: #333333;
    width: 15rem;
    height: 4rem;
    font-size: 3rem;
    margin-left: calc(50% - 7.5rem);
    position: absolute;
    top: calc(50% - 2rem);
    
    }
    
    .ServiceTitle_1 {
    font-size: 4.5rem;
    margin-top: 1rem;
    text-align: center;
    }
    
    .Vestassapede_1 {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 1.6rem;
    margin-left: 3rem;
    margin-right: 3rem;
    }

.element_line_left {
background: #303030;
width: 45rem;
height: 0.7rem;
float: left;
margin-left: calc(50% - 22.5rem);
margin-top: 10rem;

}

.latest_work {
background: #303030;
float: left;
width: 30rem;
height: 4rem;
border-radius: 5rem;
position: relative;
top: -2.5rem;
margin-left: calc(50% - 15rem);

}

.latest_work_text {
    font-size: 3rem;
    width: 30rem;
    margin-left: calc(50% - 10.9rem);
    margin-top: 0.3rem;
    height: 4rem;
    }

    .block290px {
    position: relative;
    background: #333333;
    width: 45rem;
    height: 30rem;
    float: left;
    margin-left: calc(50% - 22.5rem);
    margin-top: 5rem;
    border: 0.7rem solid white;
    }

    .block290px_1 {
        position: relative;
        background: #333333;
        width: 45rem;
        height: 30rem;
        float: left;
        margin-left: calc(50% - 22.5rem);
        margin-top: 5rem;
        border: 0.7rem solid #76c38f;
        }
        
    .text290px {
font-size: 3.5rem;
text-align: center;
width: 20rem;
margin-left: calc(50% - 10rem);
margin-top: calc(50% - 11rem)

    }

    .Lorem {
background: black;
font-size: 3rem;
width: 45rem;
height: 5rem;
text-align: center;
padding-top: 1rem;
position: absolute;
bottom: 0;

    }